In [1]:
import pandas as pd

In [2]:
dataset= pd.read_excel("D:\Study\Machine Learning\TrainTestSplitting\dataset1.xlsx")

In [3]:
dataset=dataset.dropna()

In [4]:
dataset

     type Urgency severity  priority
0    Task     low    minor       4.0
5    Task     low    minor       4.0
8    Task     low    minor       4.0
9    Task     low    minor       4.0
10   Task     low    minor       4.0
..    ...     ...      ...       ...
485  Task     low    minor       4.0
486  Task     low    minor       4.0
487   Bug     low    minor       4.0
488   Bug     low    minor       4.0
489  Task     low    minor       4.0

[462 rows x 4 columns]

In [5]:
dataset.shape

(462, 4)

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 462 entries, 0 to 489
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      462 non-null    object
 1   Urgency   462 non-null    object
 2   severity  462 non-null    object
 3   priority  462 non-null    float64
dtypes: float64(1), object(3)
memory usage: 18.0+ KB

In [7]:
dataset.describe()

           priority
count    462.000000
mean    3548.841991
std    14320.941041
min        1.000000
25%        1.000000
50%        4.000000
75%        4.000000
max    87555.000000

In [8]:
dataset.isnull().sum()

type        0
Urgency     0
severity    0
priority    0
dtype: int64

In [10]:
input_data= dataset.iloc[:,:-1]

In [11]:
input_data

     type Urgency severity
0    Task     low    minor
5    Task     low    minor
8    Task     low    minor
9    Task     low    minor
10   Task     low    minor
..    ...     ...      ...
485  Task     low    minor
486  Task     low    minor
487   Bug     low    minor
488   Bug     low    minor
489  Task     low    minor

[462 rows x 3 columns]

In [12]:
output_data= dataset["priority"]

In [13]:
output_data

0      4.0
5      4.0
8      4.0
9      4.0
10     4.0
      ...
485    4.0
486    4.0
487    4.0
488    4.0
489    4.0
Name: priority, Length: 462, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split

In [16]:
x_train, x_test, y_train, y_test = train_test_split(input_data,output_data,test_size=0.25)

In [17]:
x_test

           type Urgency severity
237        Task     low    minor
401        Task     low    minor
31         Task  medium    minor
176         Bug    high    minor
239        Task     low    minor
..          ...     ...      ...
296         Bug     low    minor
73         Task     low    minor
395        Task     low    minor
182  User story     low    minor
271         Bug     low    minor

[116 rows x 3 columns]

In [18]:
x_train

     type Urgency severity
308  Task     low    minor
8    Task     low    minor
342  Task     low    minor
341  Task     low    minor
59    Bug     low    minor
..    ...     ...      ...
380   Bug     low    minor
195  Task     low    minor
219   Bug     low    minor
156   Bug     low    minor
162   Bug     low    minor

[346 rows x 3 columns]

In [19]:
y_train

308    12828.0
8          4.0
342        1.0
341        1.0
59         4.0
        ...
380        1.0
195        1.0
219        4.0
156        1.0
162        4.0
Name: priority, Length: 346, dtype: float64

In [20]:
y_test

237    4.0
401    1.0
31     4.0
176    1.0
239    4.0
      ...
296    4.0
73     4.0
395    1.0
182    1.0
271    4.0
Name: priority, Length: 116, dtype: float64